<div class="container-fluid">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        
        <div class="col-lg-12 col-6">
            <!-- small box -->
            <div class="small-box bg-primary">
                <div class="inner">
                    <h3>{{total_subject}}</h3>
                    <p>Total Subject</p>
                </div>
                <div class="icon">
                  <i class="nav-icon fas fa-book"></i>
                </div>
                {# <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a> #}
            </div>
        </div>
        <!-- ./col -->
    </div>